@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Rampart+One&family=Overpass');

/* Main */

:root {
    background-color: palevioletred;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Nav */

nav {
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#hamburger {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburger-svg {
    height: 64px;
}

#hamburger, #menu {
    background: rgb(21,31,46);
    border-radius: 6px;
    box-shadow: 0 1px 20px rgba(43,50,88,0.2);
}

/* Texts */

h1 {
    font-family: 'Rampart One';
    color: white;
    font-weight: normal;
    font-size: 5em;
    margin: 0;
}

p {
    font-family: 'Darumadrop One';
    color: white;
    font-weight: normal;
    font-size: 4em;
    margin: 0;
}

span {
    font-family: 'Overpass';
    color: rgb(116,136,153);
    font-size: 1em;
    margin: 0;
}

/* Images */

img {
    user-select: none;
}

.avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 0% 35%;
    border-radius: 150px;
    margin: 35px;
    transition: transform 0.2s;
}

.avatar:hover {
    transform: scale(1.02);
}

/* Links */

#github:hover {
    filter: brightness(0) saturate(100%) invert(7%) sepia(9%) saturate(289%) hue-rotate(314deg) brightness(101%) contrast(97%);
}

#twitter:hover {
    filter: brightness(0) saturate(100%) invert(47%) sepia(27%) saturate(2966%) hue-rotate(177deg) brightness(99%) contrast(90%);
}

#discord:hover {
    filter: brightness(0) saturate(100%) invert(41%) sepia(48%) saturate(4666%) hue-rotate(222deg) brightness(96%) contrast(97%);
}

#osu:hover {
    filter: brightness(0) saturate(100%) invert(32%) sepia(18%) saturate(3994%) hue-rotate(294deg) brightness(88%) contrast(87%);
}

#anilist:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(93%) saturate(1995%) hue-rotate(175deg) brightness(105%) contrast(103%);
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    margin: 0 10px;
    transition: transform 0.2s;
}

.link:hover {
    transform: scale(1.15);
}

.logo-s {
    width: 100px;
}

.logo-b {
    width: 80px;
}
