@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Rampart+One");

::selection {
	color: white;
	background-color: hsl(340, 60%, 75%);
}

body {
	margin: 0;
	background: radial-gradient(circle at 50% 100%, #c8000080, transparent),
		radial-gradient(circle at 93.3% 25%, #0000c880, transparent),
		radial-gradient(circle at 6.7% 25%, #d8709380, transparent) pink;
}

main {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img {
	-webkit-user-select: none;
	user-select: none;
}

a {
	color: white;
}

.name {
	font-family: "Rampart One";
	font-size: 4rem;
	font-weight: normal;
	color: white;
	margin: 0;
}

.desc {
	font-family: "Darumadrop One";
	font-size: 3rem;
	font-weight: normal;
	color: white;
	margin: 0;
}

.avatar {
	width: 200px;
	height: 200px;
	background-image: url("../avatar.png");
	background-size: 100%;
	background-position: 0% 0%;
	border-radius: 150px;
	margin: 35px;
	transition: 200ms;
}

.avatar:hover {
	transform: scale(1.02);
}

#github:hover {
	color: #171515;
}

#twitter:hover {
	color: #00acee;
}

#discord:hover {
	color: #5865f2;
}

#osu:hover {
	color: #ff66aa;
}

#anilist:hover {
	color: #00aaff;
}

.links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.link {
	margin: 0 10px;
	transition: 200ms;
}

.link:hover {
	transform: scale(1.15);
}

.logo-s {
	width: 80px;
}

.logo-b {
	width: 72px;
}

.logo-link {
	cursor: none;
	display: grid;
}
