@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Rampart+One");

::selection {
	background-color: hsl(340, 60%, 75%);
	color: white;
}

body {
	margin: 0;
	background:
		radial-gradient(circle at 50% 100%, #c8000080, transparent),
		radial-gradient(circle at 93.3% 25%, #0000c880, transparent),
		radial-gradient(circle at 6.7% 25%, #d8709380, transparent) pink;
}

main {
	display: grid;
	place-content: center;
	height: 100dvh;
	text-align: center;
}

a {
	color: white;
}

.name {
	margin: 0;
	color: white;
	font-weight: normal;
	font-size: 4rem;
	font-family: "Rampart One";
}

.desc {
	margin: 0;
	color: white;
	font-weight: normal;
	font-size: 3rem;
	font-family: "Darumadrop One";
}

.avatar-container {
	margin: 30px auto;
}

.avatar {
	transition: 200ms;
	border-radius: 150px;
	background-image: url("../avatar.png");
	background-position: 0% 0%;
	background-size: 100%;
	width: 200px;
	height: 200px;

	&:hover {
		transform: scale(1.02);
	}
}

#github:hover {
	color: #171515;
}

#twitter:hover {
	color: #00acee;
}

#discord:hover {
	color: #5865f2;
}

#osu:hover {
	color: #ff66aa;
}

#anilist:hover {
	color: #00aaff;
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.link {
	transition: 200ms;

	&:hover {
		transform: scale(1.15);
	}

	& > a {
		display: grid;
		cursor: none;
	}
}

.logo-s {
	width: 80px;
}

.logo-b {
	width: 72px;
}
