---
import "@fontsource/darumadrop-one";
import "@fontsource/rampart-one";
import Avatar from "../components/Avatar.astro";
import Icons from "../components/Icons.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<h1 class="name">アガテム</h1>
		<Avatar />
		<Icons />
		<p class="desc">Mi hora es: <my-time-zone timezone="Europe/Madrid" /></p>
	</main>
</Layout>
<style is:global>
	main {
		display: grid;
		place-content: center;
		height: 100dvh;
		text-align: center;
	}

	a {
		color: white;
	}

	.name {
		margin: 0;
		color: white;
		font-weight: normal;
		font-size: 4rem;
		font-family: "Rampart One", system-ui;
	}

	.desc {
		margin: 0;
		color: white;
		font-weight: normal;
		font-size: 3rem;
		font-family: "Darumadrop One", system-ui;
	}

	.circle-logo {
		width: 72px;
	}

	.large-logo {
		width: 80px;
	}
</style>
