<section>
	<div></div>
</section>
<style>
	section {
		margin: 1em auto 1.5em;
	}

	div {
		transition: 200ms;
		border-radius: 150px;
		background-image: url("/avatar.png");
		background-position: 0% 0%;
		background-size: 100%;
		width: 200px;
		height: 200px;

		&:hover {
			transform: scale(1.02);
		}
	}
</style>
