---
import Anilist from "./icons/Anilist.astro";
import Discord from "./icons/Discord.astro";
import Github from "./icons/Github.astro";
import Osu from "./icons/Osu.astro";
import Twitter from "./icons/Twitter.astro";
---

<section>
	<Github />
	<Twitter />
	<Discord />
	<Osu />
	<Anilist />
</section>
<style>
	section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}
</style>
