---
interface Props {
	href: string;
	name: string;
	color: string;
}

const { href, name, color } = Astro.props;
---

<article>
	<a
		href={href}
		target="_blank"
		rel="nofollow noopener noreferrer"
		aria-label={name}
	>
		<slot />
	</a>
</article>
<style define:vars={{ color }}>
	a {
		display: grid;
		transition: 200ms;

		&:hover,
		&:focus {
			transform: scale(1.15);
			color: var(--color);
		}
	}
</style>
