<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Agatem</title>
		<link rel="icon" href="./favicon.png" />
		<script src="../lib/random-bg.js"></script>
		<script src="../lib/my-time-zone.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	::selection {
		background-color: hsl(340deg 60% 75%);
		color: white;
	}

	:focus-visible {
		outline: none;
	}

	body {
		--bg-color-1: #c8000080;
		--bg-color-2: #0000c880;
		--bg-color-3: #d8709380;

		margin: 0;
		background:
			radial-gradient(circle at 50% 100%, var(--bg-color-1), transparent),
			radial-gradient(circle at 93.3% 25%, var(--bg-color-2), transparent),
			radial-gradient(circle at 6.7% 25%, var(--bg-color-3), transparent) pink;
	}
</style>
