<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Agatem</title>
		<link rel="icon" href="./favicon.png" />
		<script src="../lib/random-bg.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	::selection {
		background-color: hsl(340deg 60% 75%);
		color: white;
	}

	:focus-visible {
		outline: none;
	}

	body {
		margin: 0;
		background:
			radial-gradient(circle at 50% 100%, #c8000080, transparent),
			radial-gradient(circle at 93.3% 25%, #0000c880, transparent),
			radial-gradient(circle at 6.7% 25%, #d8709380, transparent) pink;
	}
</style>
